
numpy
pandas
PyYAML
Pillow

jupyter
notebook

torch
torchvision
opencv-python
matplotlib

ultralytics
iterative-stratification

fiftyone
label-studio

huggingface-hub
transformers
datasets
albumentations
torchmetrics
optuna